<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/home.html">Página principal</a>
                </li>
                <li>
                 <a href="">Produtos</a>
             </li>
             <li>
                 <a href="">Carrinho</a>
             </li>
             <li>
                 <a href="/views/info.html">Informações</a>
             </li>
            </ul>
        </nav>
    </header>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa assumenda, impedit qui, numquam corrupti quasi consequuntur, quibusdam repellendus adipisci ipsam exercitationem esse suscipit. Possimus iure asperiores quae dolorem ipsa liberos.</p>
</body>
</html>