<html>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <script src="script.js"></script>
    <title>Loja de roupas</title>
    
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/home.html">Página principal</a>
                </li>
                <li>
                 <a href="/views/produtos.html">Produtos</a>
             </li>
             <li>
                 <a href="/views/car.html">Carrinho</a>
             </li>
             <li>
                 <a href="/views/info.html">Informações</a>
             </li>
            </ul>
        </nav>
    </header>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ratione aliquid minima eveniet, ex eum harum, facilis dolore voluptatibus quasi, voluptate odio accusamus exercitationem? Atque et animi consequuntur ex ad.</p>
    </section>
    <section>
    <h1>Camisas</h1>
    <img src="https://a-static.mlcdn.com.br/618x463/camisa-masculina-manga-curta-verde-kelvy-s-camisas/kelvyscamisas/7374444449/5d8cc54dc813b284f5659e1b732eb135.jpg" width="200px" alt="camisa">
   <span>A partir de <strong>R$39,90</strong></span>
   
   <img src="https://a-static.mlcdn.com.br/618x463/camisa-masculina-manga-curta-verde-kelvy-s-camisas/kelvyscamisas/7374444449/5d8cc54dc813b284f5659e1b732eb135.jpg" width="200px" alt="camisa"><span>A partir de <strong>R$39,90</strong></span>
   <span>A partir de <strong>R$39,90</strong></span>
   
   <img src="https://a-static.mlcdn.com.br/618x463/camisa-masculina-manga-curta-verde-kelvy-s-camisas/kelvyscamisas/7374444449/5d8cc54dc813b284f5659e1b732eb135.jpg" width="200px" alt="camisa">
   <span>A partir de <strong>R$39,90</strong></span>
   
   <img src="https://a-static.mlcdn.com.br/618x463/camisa-masculina-manga-curta-verde-kelvy-s-camisas/kelvyscamisas/7374444449/5d8cc54dc813b284f5659e1b732eb135.jpg" width="200px" alt="camisa">
   <span>A partir de <strong>R$39,90</strong></span>
   
   <img src="https://a-static.mlcdn.com.br/618x463/camisa-masculina-manga-curta-verde-kelvy-s-camisas/kelvyscamisas/7374444449/5d8cc54dc813b284f5659e1b732eb135.jpg" width="200px" alt="camisa">
   <span>A partir de <strong>R$39,90</strong></span>
   
   <img src="https://a-static.mlcdn.com.br/618x463/camisa-masculina-manga-curta-verde-kelvy-s-camisas/kelvyscamisas/7374444449/5d8cc54dc813b284f5659e1b732eb135.jpg" width="200px" alt="camisa">
   <span>A partir de <strong>R$39,90</strong></span>
   
    <h1>Calças</h1>
    <img src="https://lojaspompeia.vteximg.com.br/arquivos/ids/523189/117231-calca-jeans-nico-boco-azul1.jpg?v=636885967016330000" width="200px" alt="Calças">
    <span>A partir de <strong>R$59,90</strong></span>

    <img src="https://lojaspompeia.vteximg.com.br/arquivos/ids/523189/117231-calca-jeans-nico-boco-azul1.jpg?v=636885967016330000" width="200px" alt="Calças">
    <span>A partir de <strong>R$59,90</strong></span>

    <img src="https://lojaspompeia.vteximg.com.br/arquivos/ids/523189/117231-calca-jeans-nico-boco-azul1.jpg?v=636885967016330000" width="200px" alt="Calças">
    <span>A partir de <strong>R$59,90</strong></span>

    <img src="https://lojaspompeia.vteximg.com.br/arquivos/ids/523189/117231-calca-jeans-nico-boco-azul1.jpg?v=636885967016330000" width="200px" alt="Calças">
    <span>A partir de <strong>R$59,90</strong></span>

    <img src="https://lojaspompeia.vteximg.com.br/arquivos/ids/523189/117231-calca-jeans-nico-boco-azul1.jpg?v=636885967016330000" width="200px" alt="Calças">
    <span>A partir de <strong>R$59,90</strong></span>

 <img src="https://lojaspompeia.vteximg.com.br/arquivos/ids/523189/117231-calca-jeans-nico-boco-azul1.jpg?v=636885967016330000" width="200px" alt="Calças">
    <span>A partir de <strong>R$59,90</strong></span>
</section>

</html>